.icon-48-extensions {
      background-image: url(../images/l_extensions.png);
      padding-left:60px!important;
}

.icon-48-extension {
      background-image: url(../images/l_extensions.png);
      padding-left:60px!important;
}

.color-box-extensions { 
      float: left;      width: 15px;      height: 15px;      margin-right: 5px;      border: 1px solid rgba(0, 0, 0, .2);}



.other-filters{
    padding: 0 14px;
}